/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main .respuesta {
  padding: 1rem;
  color: #386641;
  text-align: justify; }

/* LOGO */
.logo {
  display: flex;
  flex-direction: row-reverse;
  width: 15rem; }

/* Estilo de TODOS los Footer */
footer {
  text-align: center;
  background-color: white; }
  footer h3 {
    padding-bottom: 1rem;
    padding-top: 3.5rem;
    font-size: 1.5rem; }
  footer h5 {
    padding-bottom: 1rem;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif; }
  footer img {
    width: 45%;
    margin-bottom: 4rem; }

/* ESTILO DE MAIN */
.main-home h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #6a994e;
  font-size: 2rem; }
  @media screen and (min-width: 600px) {
    .main-home h1 {
      font-size: 2rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem; } }
  @media screen and (min-width: 1024px) {
    .main-home h1 {
      font-size: 3.5rem; } }

.main-home h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #6a994e;
  font-size: 2rem; }

.main-home p {
  color: #386641;
  margin: 2rem;
  text-align: justify; }
  @media screen and (min-width: 1024px) {
    .main-home p {
      font-size: 1rem; } }

.main-home .container {
  display: flex;
  flex-wrap: wrap; }

.main-home .image {
  flex: 1;
  min-width: 250px;
  padding: 10px;
  text-align: center; }

.main-home .image img {
  max-width: 100%;
  height: auto; }

.main-home .content {
  flex: 1;
  min-width: 250px;
  padding: 10px; }

.main-home .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px; }

@media screen and (max-width: 768px) {
  .main-home .container {
    flex-direction: column; }
  .main-home .image, .main-home .content {
    flex: 1 1 100%;
    min-width: auto; } }

.carousel {
  margin: 2rem; }

main .respuesta {
  padding: 1rem;
  color: #386641;
  text-align: justify; }

/* Estilos para Productos */
header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 40px 0; }

.main-custom {
  background-image: url(../img/fondo.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .main-custom .container-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 4rem;
    padding: 2rem; }
    @media screen and (min-width: 600px) {
      .main-custom .container-items {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto; } }
    @media screen and (min-width: 1024px) {
      .main-custom .container-items {
        grid-template-columns: repeat(3, 4fr);
        grid-template-rows: auto; } }
  .main-custom .item {
    border-radius: 10px;
    background-color: whitesmoke; }
  .main-custom .item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.534); }
  .main-custom .item img {
    width: 100%;
    height: 300px;
    object-fit: cover; }
  .main-custom .info-product {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px; }
  .main-custom .price {
    font-size: 18px;
    font-weight: 900; }
  .main-custom .info-product button {
    border: none;
    background: none;
    background-color: #ACC470;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 10%; }
  .main-custom .hidden {
    display: none; }
  .main-custom .main-productos {
    margin: 3%; }

main .respuesta {
  padding: 1rem;
  color: #386641;
  text-align: justify; }

.main-contacto {
  background-image: url(../img/fondo.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .main-contacto .maps {
    width: 100%;
    height: 600px;
    padding: 10px 15px 0px 15px;
    margin-bottom: 100px; }
  .main-contacto .form {
    width: 100%;
    background-color: whitesmoke;
    max-width: 400px;
    border-radius: 15px;
    padding: 50px 25px;
    margin: auto;
    position: relative;
    bottom: 55px; }
  .main-contacto .form textarea {
    resize: none;
    height: 150px; }
  .main-contacto .form-container {
    width: 100px;
    display: grid;
    gap: 16px; }
  .main-contacto .form-input {
    width: 345px;
    font-size: 16px;
    padding: 12px 10px;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif; }
  .main-contacto .form-input-form-input-message {
    width: 345x;
    font-size: 16px;
    padding: 12px 10px;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif; }
  .main-contacto .form-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px; }
  .main-contacto .form-cta {
    color: #fff;
    background-color: #359796;
    border: none;
    font-weight: 300;
    font-size: 16px;
    padding: 10px 0;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif; }

main .respuesta {
  padding: 1rem;
  color: #386641;
  text-align: justify; }

.main-tratamientos {
  background-image: url(../img/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
  padding-top: 2rem; }
  .main-tratamientos .contenedor {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 1.3rem; }
  .main-tratamientos .fila {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .main-tratamientos .columna {
    flex-basis: 50%;
    padding: 5px; }
    @media screen and (min-width: 480px) {
      .main-tratamientos .columna {
        flex-basis: 100%; } }
    @media screen and (min-width: 600px) {
      .main-tratamientos .columna {
        flex-basis: 50%; } }
  .main-tratamientos img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    justify-content: center;
    text-align: center; }
  .main-tratamientos .columna:hover img {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.534); }
  .main-tratamientos .columna:hover {
    cursor: pointer; }

main .respuesta {
  padding: 1rem;
  color: #386641;
  text-align: justify; }

/* ESTILOS PARA FYQ */
main .contenedor-fyq {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 600px) {
    main .contenedor-fyq {
      padding: 5px; } }
  @media screen and (min-width: 1024px) {
    main .contenedor-fyq {
      padding: 10px; } }

main .pregunta {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #6a994e; }
  @media screen and (min-width: 600px) {
    main .pregunta {
      margin-bottom: 10px; } }
  @media screen and (min-width: 1024px) {
    main .pregunta {
      margin-bottom: 15px; } }

@media screen and (min-width: 600px) {
  main .respuesta {
    margin-bottom: 10px; } }

@media screen and (min-width: 1024px) {
  main .respuesta {
    margin-bottom: 15px; } }

main .titulo-imagen-uno {
  text-align: center;
  padding: 0.6rem;
  color: #386641; }
