// Importar Utilidades 
@import"../utilidades/variables";
@import"../utilidades/mixin";
@import"../utilidades/extend";
@import"../html/media-queries";

/* ESTILOS PARA FYQ */

main{

    .contenedor-fyq{
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include tablet{
            padding: 5px;
        }

        @include escritorio{
            padding: 10px;
        }
    }

    .pregunta{
        background-color: #f5f5f5;
        padding: 10px;
        margin-bottom: 20px;
        text-align: center;
        color: #6a994e;

        @include tablet{
            margin-bottom: 10px;
        }

        @include escritorio{
            margin-bottom: 15px;
        }
    }

    .respuesta{
        @extend %section;

        @include tablet {
            margin-bottom: 10px;
        }

        @include escritorio{
            margin-bottom: 15px;
        }
    }
    .titulo-imagen-uno{
        text-align: center;
        padding: 0.6rem;
        color: $color-secundario;
    }


}